
.JoinChatView{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    border-radius: var(--padding-w);
    padding: var(--padding-w);

    display: grid;
    gap: var(--gap-w);

    background-color: var(--black-30);
    color: var(--white);

    z-index: 1000;

    width: 50%;
    
}


.JoinChatView .group{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-w);

}


.JoinChatView .group .title{

    font-size: large;
    font-weight: bold;
    text-align: center;

}


.JoinChatView .group .username strong{

    font-size: large;
    font-weight: bold;

}


.JoinChatView header{

    display: flex;

}


.JoinChatViewBtn{

    padding: var(--padding-w);
    border-radius:  var(--padding-w);
    background-color: var(--green);

    cursor: pointer;
    user-select: none;


    text-transform: capitalize;

    text-align: center;


}
